.cart-content-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  padding: 0 16px;
}

.empty-cart-icon {
  width: 90px;
  height: 130px;
  color: var(--main-color);
}

.cart-content-empty h2 {
  font-size: 30px;
  color: #757575;
}

.cart-content-empty h3 {
  font-size: 24px;
  text-align: center;
  color: #000000;
}

.cart-content-empty a {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.3s;
}

.cart-content-empty a:hover {
  background-color: #df030c;
}

.cart-container {
  padding: 80px 48px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.cart-container > h2 {
  width: fit-content;
  margin-bottom: 30px;
  padding: 10px 0 0px;
  font-size: 36px;
}

.cart-content {
  display: flex;
  gap: 20px;
}

.cart-items {
  flex: 2;
}

.price-container {
  flex: 1;
  position: relative;
}

.price-container .complete {
  position: sticky;
  top: 80px;
  padding: 16px;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: 1px 3px 21px -14px #676767;
  background-color: white;
}

.price-container h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 29px;
  color: var(--main-color);
}

.price-container .complete div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 2px solid #dfdfdf;
  font-size: 18px;
}

.price-container .complete p {
  font-weight: bold;
}

.price-container .complete .price-currency {
  font-size: 14px;
  margin-right: 5px;
  font-weight: 400;
}

.complete-order {
  width: fit-content;
  margin: auto;
  display: block;
  margin-top: 40px;
  background-color: var(--main-color);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.cart-page .complete-order:hover {
  background-color: #df030c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #e3e3e3;
  overflow: hidden;
  margin-bottom: 12px;
}

.cart-item .img-container {
  flex: 1;
  min-width: 200px;
}

.cart-item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex: 1;
  aspect-ratio: 1 / 1;
}

.cart-item .cart-item-details {
  flex: 2;
  padding: 15px;
}

.cart-item .cart-item-details h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.cart-item-details > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 24px;
}

.cart-item-details .delete-btn {
  font-size: 13px;
  background: var(--main-color);
  cursor: pointer;
  color: white;
  padding: 6px;
  border-radius: 5px;
  transition: 0.3s;
}

.cart-item-details .delete-btn:hover {
  background: #df030c;
}

.cart-item-details .product-amount {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cart-item-details .product-amount button {
  padding: 0 6px;
  border: 2px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.cart-item-details .product-amount button:not(:disabled):hover {
  background: #df030c;
  color: white;
  border: 2px solid #df030c;
}

.cart-item-details .product-amount button:disabled {
  cursor: no-drop;
}

.cart-item-details .product-amount .amount {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  width: 500px;
  overflow: hidden;
}

.checkout-header {
  display: flex;
  justify-content: space-between;
}

.checkout-container .form-close-btn {
  cursor: pointer;
  height: fit-content;
}

.checkout-title {
  color: var(--main-color);
  margin-bottom: 5px;
  font-size: 28px;
}

.order-contact-info label {
  color: #4c4c4c;
  font-size: 15px;
}

.order-contact-grid {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.order-contact-grid div {
  flex: 1;
}

.order-contact-info span {
  color: var(--main-color);
}

.order-contact-info .textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.order-contact-info .textarea textarea {
  border: 1px solid #dddada;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 8px;
}

.order-contact-info input {
  padding: 8px;
  border: 1px solid #dddada;
  border-radius: 5px;
  width: 100%;
  outline: none;
  margin-bottom: 16px;
}

.order-contact-info select {
  flex: 1;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
}

.payment-method label {
  color: #434343;
  font-weight: 600;
  display: flex;
  gap: 10px;
}

.checkout-container .complete-order {
  margin: 20px 0 0;
  width: 100%;
}

.successfullMessage-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.successfullMessage-container .form-close-btn {
  text-align: end;
}

.successfullMessage-container .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.successfullMessage-container .icon-container i {
  padding: 24px;
  border: 4px solid #02a302;
  font-size: 50px;
  border-radius: 50%;
  color: #02a302;
}

.successfullMessage-container .info-container p {
  font-size: 24px;
  text-align: center;
  color: #656565;
  margin-bottom: 24px;
}

.successfullMessage-container .cart-shop-now {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.3s;
}

.successfullMessage-container .cart-shop-now-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.successfullMessage-container .cart-shop-now:hover {
  background-color: #df030c;
}

@media (max-width: 1024px) {
  .cart-container {
    padding: 80px 32px;
  }

  .price-container h2 {
    font-size: 26px;
    margin-bottom: 14px;
  }

  .cart-item .cart-item-details {
    padding: 12px;
  }

  .cart-item .cart-item-details h3 {
    font-size: 21px;
  }
}

@media (max-width: 900px) {
  .price-container h2 {
    font-size: 24px;
    margin-bottom: 13px;
  }

  .price-container .complete div {
    margin-bottom: 13px;
    font-size: 16px;
  }

  .price-container .complete {
    padding: 14px;
  }

  .price-container button {
    margin-top: 30px;
    font-size: 16px;
  }

  .cart-item .cart-item-details {
    padding: 12px;
  }

  .cart-item .cart-item-details h3 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .cart-content {
    flex-direction: column;
    gap: 40px;
  }

  .cart-container > h2 {
    margin: 0 auto 30px;
  }
}

@media (max-width: 540px) {
  .empty-cart-icon {
    width: 80px;
    height: 110px;
  }

  .cart-content-empty h2 {
    font-size: 26px;
  }

  .cart-content-empty h3 {
    font-size: 20px;
  }

  .cart-items {
    padding-bottom: 20px;
  }

  .cart-item {
    flex-direction: column;
  }
}
