/* Reset and base styles */
@import url("https://fonts.googleapis.com/css2?family=Liter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #ec1c25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", serif;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.6;
  color: #333;
}

/* Common styles */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-size: var(--font-size);
}

.btn-primary {
  background-color: #dc2626;
  color: white;
}

.btn-primary:hover {
  background-color: #b91c1c;
}

/* Grid system */
.grid {
  display: grid;
  gap: 2rem;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-size: var(--font-size);
  background-color: #dc2626;
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.cart-btn:hover {
  background-color: #b91c1c;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  padding: 1rem;
  backdrop-filter: blur(4px);
  overflow-y: scroll;
}

.modal-content {
  background: white;
  border-radius: 0.5rem;
  max-width: 30rem;
  width: 100%;
  position: relative;
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 9999px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.close-button:hover {
  background-color: #f3f4f6;
}

.modal-grid {
  display: flex;
  flex-direction: column;
}

.modal-grid .gallary-image {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 8px 8px 0 0;
  overscroll-behavior-x: contain;
  touch-action: none;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  scroll-snap-align: start;
  border-radius: 8px 8px 0 0;
}

.modal-grid .navigation-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.modal-grid .prev {
  left: 10px;
}

.modal-grid .next {
  right: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.modal-grid .gallary-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 32%;
  right: 50%;
  transform: translateX(50%);
  background-color: #00000014;
  border-radius: 16px;
  padding: 5px 8px;
}

.modal-grid .gallary-dot {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1.5px solid rgb(216, 216, 216);
}

.modal-grid .gallary-dot.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-details {
  padding: 0 16px 10px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-description {
  color: #4b5563;
  margin-bottom: 1rem;
}

.modal-age {
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.modal-price {
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-content {
    max-width: 26rem;
  }

  .modal-title {
    font-size: 22px;
  }

  .modal-description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .modal-age {
    margin-bottom: 7px;
  }

  .modal-price {
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 490px) {
  .modal-grid .gallary-dot-container {
    bottom: 32%;
  }
}

@media (max-width: 458px) {
  .modal-grid .gallary-dot-container {
    bottom: 35%;
  }
}

@media (max-width: 450px) {
  .modal-grid .gallary-dot-container {
    bottom: 35%;
  }

  .modal-title {
    font-size: 21px;
  }

  .modal-description {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .modal-age {
    margin-bottom: 7px;
  }

  .modal-price {
    margin-bottom: 8px;
  }
}

@media (max-width: 448px) {
  .modal-grid .gallary-dot-container {
    bottom: 36%;
  }
}

@media (max-width: 429px) {
  .modal-grid .gallary-dot-container {
    bottom: 37%;
  }
}

@media (max-width: 412px) {
  .modal-grid .gallary-dot-container {
    bottom: 38%;
  }
}

@media (max-width: 395px) {
  .modal-grid .gallary-dot-container {
    bottom: 39%;
  }
}

@media (max-width: 383px) {
  .modal-grid .gallary-dot-container {
    bottom: 40%;
  }
}

.section {
  padding: 5rem 0;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-top: 5px solid var(--main-color);
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}