.global-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  position: fixed;
  top: 70px;
  left: 50%;
  background-color: white;
  color: black;
  font-weight: 700;
  box-shadow: 0 0 7px 2px #00000038;
  border-bottom: 2px solid var(--main-color);
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 6px;
  z-index: 9999;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}
